* {
	margin: 0;
	padding: 0;
	height: 100%;
}


.arrow-left {
  height: 8%;
  left: 0;
  position: absolute;
  top: 40%;
}

.arrow-right {
  height: 8%;
  position: absolute;
	right: 0;
	top: 40%
}

.button {
	height: 35%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 5%;
	padding-bottom: 2%;
}

.cat {
	margin: auto;
	height: 40%;
	width: 20%;
}

.clickable {
	background-color: transparent;
	border-color: transparent;
	height: 10%;
	width: 5%;
}

.hotspot {
	height: 15%;
	width: 25%;
	opacity: 0;
}

.hotspot:hover {
	opacity: 100;
}

.icon {
  height: 30%;
  margin: auto;
  position: relative;
  top: 30%;
}

.interface-container {
	background-color: #F7DFBD;
	border: 5px solid black;
	border-radius: 50px;
	height: 35%;
	width: 25%;
	margin: auto;
	position: relative;
	text-align: center;
	top: 24%;
}

.menu-button {
	height: 13%;
	padding: 7%;
	/* position: relative;
	top: 20px;
	left: 20px;
  height: 10%;
	width: 10%; */
}

.name {
  height: 70%;
  font-family: arial;
  position: relative;
  text-align: center;
}

.title {
	float: right;
	height: 10%;
}

.window-container {
  height: 70%;
  margin: auto;
	position: relative;
	top: 8%;
	width: 40%;
}

.window {
	position: absolute;
	padding: 3%;
	height: 45%;
	width: 45%;
}

.yard-button {
	position: relative;
	top: 20px;
	left: 20px;
}