* {
	margin: 0;
	padding: 0;
	height: 100%;
}

.clickable {
	background-color: transparent;
	border-color: transparent;
	height: 30px;
}

.interface-container {
	background-color: #F7DFBD;
	border: 3px solid black;
	border-radius: 10px;
	height: 30%;
	margin: auto;
	position: relative;
	text-align: center;
	top: 30%;
	width: 25%;
}